<template>
  <form @submit.prevent="onSubmit">
    <input type="text" placeholder="name*" v-model="name" />
    <input type="text" placeholder="phone" v-model="phone" />
    <input type="text" placeholder="email" v-model="email" />
    <button type="submit" :disabled="name.length < 3">Create</button>
  </form>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      name: "",
      phone: "",
      email: "",
    };
  },
  methods: {
    ...mapMutations(["createContact"]),
    onSubmit() {
      this.createContact({
        name: this.name,
        phone: this.phone,
        email: this.email,
        id: Date.now(),
      });
      this.name = this.phone = this.email = "";
    },
  },
};
</script>

<style scoped>
form {
  display: flex;
}

input {
  width: 100%;
  max-width: 400px;
}

button {
  margin-left: 10px;
  color: white;
  background-color: #17b31b;
  border: none;
  border-radius: 5%;
}

button:hover {
  background-color: #23b335;
  cursor: pointer;
}

button:disabled {
  background-color: rgba(23, 179, 27, 0.5);
}
</style>
