<template>
  <ul>
    <ContactItem
      v-for="(contact, i) in allContacts"
      :contact="contact"
      :key="contact.id"
      :index="i"
      v-on:change-contact="selectedId"
      v-on:remove-contact="deleteContact"
    />
  </ul>
</template>

<script>
import ContactItem from "@/components/ContactItem";
import { mapGetters, mapMutations } from "vuex";
export default {
  computed: mapGetters(["allContacts"]),
  methods: {
    ...mapMutations(["deleteContact", "openPopup", "updateChosenContact"]),
    selectedId(item) {
      this.$store.dispatch("updateChosenContact", item);
      this.$store.commit("openPopup");
    },
  },
  components: {
    ContactItem,
  },
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
