<template>
  <li class="item">
    <div class="item__col-info-box">
      <h5 class="item__title">{{ contact.name.toUpperCase() }}</h5>
      <div class="item__contact-info">
        <p class="item__description">
          <small class="item_phone" v-if="contact.phone.length">Phone:</small
          >{{ contact.phone }}
        </p>
        <p class="item__description">
          <small class="item_email" v-if="contact.email.length">Email:</small
          >{{ contact.email }}
        </p>
      </div>
    </div>
    <div class="item__col-btn-box">
      <button
        class="item__btn-change"
        v-on:click="$emit('change-contact', contact)"
      >
        ✎
      </button>
      <button
        class="item__btn-rm"
        v-on:click="$emit('remove-contact', contact.id)"
      >
        &times;
      </button>
    </div>
  </li>
</template>
<script>
export default {
  emits: ["change-contact", "remove-contact"],
  props: {
    contact: {
      type: Object,
      required: true,
    },
    index: Number,
  },
};
</script>

<style scoped>
.item {
  border: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.item__col-info-box {
  text-align: left;
}

.item__title {
  font-size: 16px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.item__description {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.item_phone {
  margin-right: 6px;
}

.item_email {
  margin-right: 10px;
}

.item__col-btn-box {
  display: flex;
  align-items: center;
}

.item__btn-change {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 15%;
  margin-right: 10px;
  padding: 0 2px 0 2px;
}

.item__btn-rm {
  background: #ff0606;
  color: #ffffff;
  border-radius: 15%;
  font-weight: bold;
  border: none;
}

.item__btn-change:hover,
.item__btn-rm:hover {
  cursor: pointer;
}
</style>
