<template>
  <div v-if="isPopupOpen" class="backdrop" @click="closePopup">
    <div class="popup" @click.stop>
      <h1>Change contact:</h1>
      <hr />
      <form>
        <label for="contactName">Name*</label>
        <input type="text" id="contactName" v-model="selectedContact.name" />
        <br /><label for="contactPhone">Phone </label>
        <input type="text" id="contactPhone" v-model="selectedContact.phone" />
        <br /><label for="contactEmail">Email </label>
        <input
          type="email"
          id="contactEmail"
          v-model="selectedContact.email"
        /><br />
        <button
          type="submit"
          @click.prevent="onSubmit"
          :disabled="selectedContact.name.length < 3"
        >
          Save change</button
        >&nbsp;
        <button @click="closePopup">Cancel</button>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState(["isPopupOpen", "contacts", "selectedContact"]),
  },
  methods: {
    ...mapMutations(["changeContact", "closePopup"]),
    onSubmit() {
      this.$store.commit("changeContact");
      this.$store.commit("closePopup");
    },
  },
};
</script>

<style scoped>
.popup {
  top: 50px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  z-index: 101;
  background-color: white;
  border-radius: 10px;
}

.popup h1 {
  text-align: center;
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

form {
  width: 360px;
}

input {
  width: 250px;
  margin-top: 10px;
}

label {
  width: 55px;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  width: 42%;
}
</style>
