<template>
  <div id="app">
    <h2>Contact Book</h2>
    <hr />
    <AddContact />
    <hr />
    <Loader v-if="loading" />
    <ContactList v-else-if="contacts.length" />
    <p v-else>No contacts!</p>
    <Popup />
  </div>
</template>

<script>
import Popup from "@/components/Popup";
import AddContact from "./components/AddContact.vue";
import ContactList from "./components/ContactList.vue";
import Loader from "@/components/Loader";
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState(["contacts", "loading"]),
  },
  methods: {
    ...mapActions(["fetchContacts"]),
  },
  mounted() {
    this.fetchContacts();
  },
  components: {
    AddContact,
    ContactList,
    Loader,
    Popup,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
